<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'danger'" [icon]="'cloud'" [count]="12" [label]="'Projects'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'warn'" [icon]="'cloud_circle'" [count]="90" [label]="'Sub Projects'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'success'" [icon]="'all_out'" [count]="220" [label]="'User Stories'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'info'" [icon]="'announcement'" [count]="303" [label]="'Defects!'"></app-stat>
  </div>
</div> 
