<section id="sample-table" class="mat-elevation-z8 bg-white">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="w-100">
    <!-- <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td> 
    </ng-container> -->
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
      <td mat-cell *matCellDef="let row"> {{row.project}} </td>
    </ng-container>

    <ng-container matColumnDef="subproject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Project </th>
      <td mat-cell *matCellDef="let row"> {{row.subproject}}</td>
    </ng-container>

    <ng-container matColumnDef="capacityUtilization">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacity Utilization </th>
      <td mat-cell *matCellDef="let row"> {{row.capacityUtilization}} </td>
    </ng-container>

    <ng-container matColumnDef="releaseSprint">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Release Sprint </th>
      <td mat-cell *matCellDef="let row"> {{row.releaseSprint}} </td>
    </ng-container>

    <ng-container matColumnDef="velocity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Velocity </th>
      <td mat-cell *matCellDef="let row"> {{row.velocity}} </td>
    </ng-container>

    <ng-container matColumnDef="defectLekage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Defect Lekage </th>
      <td mat-cell *matCellDef="let row"> {{row.defectLekage}} </td>
    </ng-container>

    <ng-container matColumnDef="sprintBurndownReport">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Report Id </th>
      <td mat-cell *matCellDef="let row"> {{row.sprintBurndownReport}} </td>
    </ng-container>

    <ng-container matColumnDef="workItemAge">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Work Item Age </th>
      <td mat-cell *matCellDef="let row"> {{row.workItemAge}} </td>
    </ng-container>
    <!-- <ng-container matColumnDef="capacityUtilization">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
      <td mat-cell *matCellDef="let row"> {{row.capacityUtilization}} </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</section>
